@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

html,
body {
  background: url("/images/fundo1.jpg");
  height: 100hv;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.plus {
  font-size: 20px;
}
