.link {
    color: black;

    &:hover {
        color: gray;
        text-decoration: none;
    }
}

.tag-link {
    color: white;

    &:hover {
        color: gray;
        text-decoration: none;
    }
}