* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url("./images/fundo1.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}